* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", monospace;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #DDD0C8;;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.8em;
    font-weight: 900;
    margin: 40px 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 900;
}

svg {
    display: block;
}

#innercontainer {
    margin: 0px auto 20px;
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: minmax(300px, auto);
    gap: 1rem;
}

.bookCard {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.125);
}

.bookCardButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.bookCardInfos {
    height: 100%;
}

.icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: #FFCC00;
}

.bookCard {
    position: relative;
}

.read::after {
    content: "read";
    position: absolute;
    text-align: center;
    top: 24px;
    left: -30px;
    background-color: rgba(0, 128, 0, 0.75);
    color: white;
    padding: 0 2rem;
    transform: rotate(-45deg);
    overflow: hidden;
}