* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", monospace;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: hsl(23, 24%, 83%);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.8em;
    font-weight: 900;
    margin: 40px 0;
}

h2 {
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: 10px;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #666666;
}

svg {
    display: block;
}

dialog {
    margin: auto;
    padding: auto;
}

#innercontainerTest {
    margin: 0px auto 1rem;
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: minmax(250px, auto);
    gap: 1rem;
}

#innercontainer {
    margin: 0px auto 1rem;
    display: grid;
    justify-content: center;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: minmax(250px, 350px);
    gap: 1rem;
}

.bookCard {
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.addCard {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

}

.addCard .addIcon {
    width: 60px;
    height: 60px;
    transition: 0.1s;
}

.addCard:hover {
    color: hsl(0, 0%, 28%);
    background: hsl(23, 24%, 81%);
}

.addCard:hover .addIcon path {
    fill: hsl(0, 0%, 28%);
}

.addCard:active {
    color: hsl(0, 0%, 26%);
    background: hsl(23, 24%, 79%);
}

.bookCardBackground {
    height: 130px;
}

.bookCardBackground img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bookCardInfos {
    padding: 15px;
}

.bookCardButtons {
    margin-top: auto;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.pages {
    font-size: 0.8rem;
    margin-right: auto;
    margin-top: auto;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: hsl(0, 0%, 33%);
    transition: 0.1s;
}

.icon:hover {
    transform: scale(1.075);
    fill: hsl(0, 0%, 28%);
    transition: 0.1s;
}

.itemIsRead .icon {
    fill: hsl(120, 39%, 54%);
}

.itemIsRead .icon:hover {
    fill: hsl(120, 39%, 45%);
}

.read::after {
    content: "read";
    position: absolute;
    top: 10px;
    left: -32px;
    background-color: hsla(120, 39%, 54%, 0.75);
    color: white;
    padding: 0 2rem;
    transform: rotate(-45deg);
    overflow: hidden;
}

dialog {
    border-radius: 10px;
    padding: 50px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog p {
    margin: 15px 0;
}

.formElement {
    margin-bottom: 20px
}

.formElement label {
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
}

.formElement.readElement {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 40px;
}

.formElement label#readLabel {
    display: inline;
}

#read {
    margin: 0;
    width: 24px;
    height: 24px;
}

.formElement input[type="text"],
.formElement input[type="number"] {
    width: 100%;
}

input[type="text"],
input[type="number"] {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    box-shadow: 2px 2px 2px silver;
}

.asterisk {
    color: #F95959;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 10px;
}

button {
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: hsl(0, 93%, 66%);
    color: white;
}

button[type="submit"]:hover {
    background-color: hsl(0, 93%, 62%);
}

button[type="submit"]:active {
    background-color: hsl(0, 93%, 58%);
}

button[type="button"] {
    background-color: hsl(0, 0%, 85%);
}

button[type="button"]:hover {
    background-color: hsl(0, 0%, 80%);
}

button[type="button"]:active {
    background-color: hsl(0, 0%, 75%);
}

#footer {
    margin-top: auto;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    line-height: 30px;
}

#footer img {
    height: 20px;
    vertical-align: middle;
}